
 :root {
    // base
    --font-family: "Golos Text", sans-serif;
    --second-family: "Merriweather", sans-serif;
    --third-family: "Montserrat", sans-serif;
    --content-width: 1222px;
    --content-fluid-width: 1690px;
    --container-offset: 30px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  
    // colors
    --light-color: #fff;
    --accent-color: #f54932;
    --accent-color2: #FBCE51;
    --text-color: #313131;

  }
